@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
:root {
    --yellow-color: #FFFF00;
    --yellow-light: #F8F184;
    --blue-color: #19587D;
    --gris-border: rgba(188, 187, 189, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Rajdhani';
    font-size: 36px;
    font-weight: 400;
}

button {
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400;
}

h2 {
    font-family: 'Space Grotesk';
    font-size: 12px;
    font-weight: bold;
    font-weight: 400;
}

.container {
    width: 85%;
    margin: 0 auto;
    border-left: 4px solid var(--gris-border);
    border-right: 4px solid var(--gris-border);
}

body {
    background-color: black;
    color: white;
    font-family: 'Space Grotesk';
    font-size: 18px;
    font-weight: 400;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

ul {
    list-style: none;
}

nav ul li a {
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Rajdhani';
}

nav ul li a:hover {
    color: var(--yellow-color);
}

#hero {
    min-height: 850px;
    background-image: url(../Illustrations/Bathome1.png);
    background-size: cover;
    background-position: top center;
}

nav.container {
    border-bottom: 4px solid var(--gris-border);
}

.centreText {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.texte {
    padding-top: 35%;
}

.titre {
    padding: 25px 0;
    margin-bottom: 35px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 248px;
}

.cta a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 0, 0, 0.3));
    margin: 0 20px;
    padding: 20px 40px;
}


/* style de la page 2 */

h1 {
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 36px;
}

.page2 {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px;
}

#textPage2 {
    padding-right: 130px;
    text-align: justify;
    padding-top: 30px;
}

.positionImg {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 60px;
    padding-right: 60px;
    flex-wrap: wrap;
    gap: 20px;
}

.positionTitreImg {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

#imgBat13 {
    width: 140px;
    margin-left: 8%;
    margin-bottom: -5%;
}

#imgBat12 {
    margin-top: -12%;
    margin-left: 72%;
    margin-bottom: -7%;
}